*::-webkit-scrollbar {
    width: 0.5em;
}
*::-webkit-scrollbar-track {
    background-color: #222222; 
  }
*::-webkit-scrollbar-thumb {
    width: 0.4em;
    background-color: #4e4e4e;
    border-radius: 0.8em;
}

.addedNavBar
{
  height: auto;
  width: auto;
  display: block;
  z-index: 1000000;
  position: fixed;
  top: 0px; left: 0px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.addedNavBtn
{
  font-size: 20px;
  height: 40px;
  width: 40px;
  float: left;
  border: transparent;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}